@import "_variables", "_media";

* {
  font-family: $font-family-base;
}

.container {
  margin: 0 auto;
  max-width: 1230px;
  width: 100%;
  padding-inline: 15px;
}

.button {
  height: $button-height;
  padding-inline: $button-padding;
  font-size: 14px;
  line-height: 150%;
  font-weight: 500;
}

.header {
  &__inner {
    padding-block: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    &-list {
      display: flex;
      align-items: center;
      gap: 72px;
    }

    &-link {
      @extend %text-regular;

      color: $grayscale50;

      transition: color 0.3s ease;

      &:hover {
        color: $primary100;
      }

      &--active {
        font-weight: 600;
      }
    }

    &-contact {
      color: $grayscale-white;
    }

    &-item:last-child {
      background-color: $primary100;
      padding-inline: $button-padding;
      height: $button-height;
      display: flex;
      align-items: center;
    }
  }
}

.hero {
  &__body {
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
  }

  &__title {
    @extend %title-second;
    margin-bottom: 36px;
    color: $grayscale-black;
  }

  &__text {
    @extend %text-regular;
    color: $grayscale-black;
    max-width: 518px;
    margin: 0 auto 51px;
  }

  &__label {
    @extend %text-medium;
    color: $grayscale50;
    cursor: context-menu;
    margin-bottom: 10px;
  }

  &__form {
    margin-bottom: 40px;
    &-name {
      display: flex;
      justify-content: center;
      gap: 14px;
      margin-bottom: 20px;
    }

    &-first,
    &-last {
      display: flex;
      flex-direction: column;
      text-align: start;
    }

    &-email {
      display: flex;
      flex-direction: column;
      text-align: start;
      margin: 0 auto;
      max-width: 840px;
      margin-bottom: 19px;
    }

    &-wrapper {
      width: 840px;
      border: 1px solid $grayscale10;
      height: $input-height;
      padding-left: 32px;
      margin-top: 10px;
      display: flex;
      align-items: center;
    }

    &-number {
      width: 840px;
      text-align: start;
      margin: 0 auto;
    }

    &-message {
      margin: 20px auto 0;
      text-align: start;
      width: 840px;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
  &__input {
    &-wide {
      width: 840px;
      border: 1px solid $grayscale10;
      height: $input-height;
      padding-left: 32px;

      &::placeholder {
        font-size: 16px;
        line-height: 160%;
        color: $grayscale10;
      }
    }

    &-number {
      &::placeholder {
        font-size: 16px;
        line-height: 160%;
        color: $grayscale10;
      }
    }

    &-high {
      width: 840px;
      border: 1px solid $grayscale10;
      height: 178px;
      padding-left: 32px;
      padding-bottom: 132px;
      padding-top: 20px;

      &::placeholder {
        font-size: 16px;
        line-height: 160%;
        color: $grayscale10;
      }
    }

    &-small {
      width: 413px;
      border: 1px solid $grayscale10;
      height: $input-height;
      padding-left: 32px;

      &::placeholder {
        font-size: 16px;
        line-height: 160%;
        color: $grayscale10;
      }
    }
  }

  &__numbutton {
    display: flex;
    // align-items: center;
    margin-right: 24px;
    @extend %text-medium;
  }

  &__button {
    color: $grayscale-white;
    background-color: $primary100;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    border: 1px solid transparent;
    transition: all 0.3s ease;

    &:hover {
      color: $grayscale-black;
      background-color: $grayscale-white;
      border: 1px solid $grayscale-black;
    }
  }
}

.location {
  &__body {
    padding-block: 50px;
  }

  &__title {
    display: flex;
    gap: 21px;
    align-items: center;
    margin-bottom: 90px;
    &-text {
      @extend %mini;
    }

    & span {
      content: "";
      background: $grayscale-black;
      height: 2px;
      width: 510px;
    }
  }
  &__info {
    @extend %title-third;
    max-width: 738px;
    margin-bottom: 24px;
  }

  &__text {
    margin-bottom: 30px;
    max-width: 334px;
    color: $grayscale10;
    @extend %text-regular;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__contacts {
    width: 279px;
  }

  &__subtitle {
    @extend %semibold24;
    margin-bottom: 30px;
  }

  &__contact {
    @extend %semibold24;
    margin-bottom: 10px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    column-gap: 60px;
    max-width: 728px;
  }
}

.footer {
  &:first-child {
    background-color: $primary10;
  }

  &__background {
    margin-top: 50px;
    background-color: $primary100;
  }

  &__first {
    padding-block: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 155px;

    &-title {
      @extend %title-third;
      color: $grayscale-white;
      max-width: 613px;
    }
  }

  &__contact {
    &-text {
      @extend %text-regular;
      color: $grayscale-lightgray;
    }
  }

  &__button {
    margin-top: 20px;
    color: $grayscale50;
    background-color: $grayscale-white;
    transition: all 0.3s ease;

    &:hover {
      color: $grayscale-white;
      background-color: $grayscale-black;
    }
  }

  &__second {
    padding-top: 80px;
    margin-bottom: 80px;
    display: flex;
    gap: 279px;
    align-items: center;

    &-title {
      margin-top: 10px;
      @extend %title-third;
      color: $grayscale50;
      max-width: 481px;
    }
  }

  &__label {
    position: relative;
    @extend %text-regular;
    color: $grayscale50;
    cursor: context-menu;
    margin-left: 24px;
    margin-bottom: 20px;

    &::before {
      transform: translateY(-50%);
      top: 50%;
      left: -24px;
      position: absolute;
      content: "";
      width: 14px;
      height: 14px;
      background-color: $grayscale50;
      border-radius: 50%;
    }
  }

  &__input {
    font-weight: 500;
    line-height: 160%;
    font-size: 20px;
    margin-bottom: 40px;
    height: $input-height;
    width: 440px;
    border-bottom: 2px solid $grayscale70;

    &::placeholder {
      font-size: 16px;
      line-height: 160px;
      color: $grayscale-lightgray;
    }
  }

  &__form {
    max-width: 440px;
  }

  &__media {
    &-text {
      margin-bottom: 15px;
      @extend %text-regular;
      color: $grayscale50;
    }

    &-row {
      display: flex;
      gap: 37px;
    }

    &-wrapper {
      display: flex;
      justify-content: flex-end;
    }
  }
  &__svg-wrapper {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: $grayscale-lightgray;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
}
