@import "_variables", "_media";

* {
  font-family: $font-family-base;
}

.container {
  margin: 0 auto;
  max-width: 1230px;
  width: 100%;
  padding-inline: 15px;
}

.button {
  height: $button-height;
  padding-inline: $button-padding;
  font-size: 14px;
  line-height: 150%;
  font-weight: 500;
}

.header {
  &__inner {
    padding-block: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    &-list {
      display: flex;
      align-items: center;
      gap: 72px;
    }

    &-link {
      @extend %text-regular;

      color: $grayscale50;

      transition: color 0.3s ease;

      &:hover {
        color: $primary100;
      }

      &--active {
        font-weight: 600;
      }
    }

    &-contact {
      color: $grayscale-white;
    }

    &-item:last-child {
      background-color: $primary100;
      padding-inline: $button-padding;
      height: $button-height;
      display: flex;
      align-items: center;
    }
  }
}

.hero {
  &__body {
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
  }

  &__title {
    @extend %title-second;
    margin-bottom: 36px;
    color: $grayscale-black;
  }

  &__text {
    @extend %text-regular;
    color: $grayscale-black;
    max-width: 518px;
    margin: 0 auto 57px;
  }
}

.list {
  &__body {
    padding-top: 50px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }

  &__title {
    @extend %semibold24;
    margin-bottom: 24px;
  }

  &__left-text,
  &__data,
  &__copyright,
  &__right-text {
    @extend %text-regular;
    color: $grayscale10;
  }

  &__info {
    display: flex;
    gap: 80px;
  }

  &__left-text {
    margin-bottom: 60px;
    width: 584px;
  }

  &__right-text:not(:last-child) {
    margin-bottom: 30px;
  }
}

.interior {
  &__body {
    padding-top: 40px;
    padding-bottom: 50px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }
}

.footer {
  &:first-child {
    background-color: $primary10;
  }

  &__background {
    margin-top: 50px;
    background-color: $primary100;
  }

  &__first {
    padding-block: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 155px;

    &-title {
      @extend %title-third;
      color: $grayscale-white;
      max-width: 613px;
    }
  }

  &__contact {
    &-text {
      @extend %text-regular;
      color: $grayscale-lightgray;
    }
  }

  &__button {
    margin-top: 20px;
    color: $grayscale50;
    background-color: $grayscale-white;
    transition: all 0.3s ease;

    &:hover {
      color: $grayscale-white;
      background-color: $grayscale-black;
    }
  }

  &__second {
    padding-top: 80px;
    margin-bottom: 80px;
    display: flex;
    gap: 279px;
    align-items: center;

    &-title {
      margin-top: 10px;
      @extend %title-third;
      color: $grayscale50;
      max-width: 481px;
    }
  }

  &__label {
    position: relative;
    @extend %text-regular;
    color: $grayscale50;
    cursor: context-menu;
    margin-left: 24px;
    margin-bottom: 20px;

    &::before {
      transform: translateY(-50%);
      top: 50%;
      left: -24px;
      position: absolute;
      content: "";
      width: 14px;
      height: 14px;
      background-color: $grayscale50;
      border-radius: 50%;
    }
  }

  &__input {
    font-weight: 500;
    line-height: 160%;
    font-size: 20px;
    margin-bottom: 40px;
    height: $input-height;
    width: 440px;
    border-bottom: 2px solid $grayscale70;

    &::placeholder {
      font-size: 16px;
      line-height: 160px;
      color: $grayscale-lightgray;
    }
  }

  &__form {
    max-width: 440px;
  }

  &__media {
    &-text {
      margin-bottom: 15px;
      @extend %text-regular;
      color: $grayscale50;
    }

    &-row {
      display: flex;
      gap: 37px;
    }

    &-wrapper {
      display: flex;
      justify-content: flex-end;
    }
  }
  &__svg-wrapper {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: $grayscale-lightgray;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
}
