@import "_variables", "_media";

* {
  font-family: $font-family-base;
}

.container {
  margin: 0 auto;
  max-width: 1230px;
  width: 100%;
  padding-inline: 15px;
}

.button {
  height: $button-height;
  padding-inline: $button-padding;
  font-size: 14px;
  line-height: 150%;
  font-weight: 500;
}

.header {
  &__inner {
    padding-block: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablet {
      padding-block: 30px;
    }

    @include mobile {
      padding-block: 15px;
    }
    @include mobile-s {
      padding-block: 5px;
    }
  }

  &__nav {
    @include tablet {
      display: none;
    }
    &-list {
      display: flex;
      align-items: center;
      gap: 72px;
    }

    &-link {
      @extend %text-regular;

      color: $grayscale50;

      transition: color 0.3s ease;

      &:hover:not(:last-child) {
        color: $primary100;
      }

      &--active {
        font-weight: 600;
      }
    }

    &-contact {
      color: $grayscale-white;
    }

    &-item:last-child {
      background-color: $primary100;
      padding-inline: $button-padding;
      height: $button-height;
      display: flex;
      align-items: center;
    }

    &.open {
      z-index: 100;
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: $primary10;

      & .header__nav-list {
        text-align: center;
        flex-direction: column;
        gap: 20px;
      }
    }
  }

  &__burger {
    @include tablet-above {
      display: none;
    }
    z-index: 200;
    position: relative;
    width: 40px;

    & span {
      display: block;
      width: 100%;
      height: 2px;
      background-color: $primary100;
      border-radius: 5px;
      margin: 6px 0;
      cursor: pointer;
      transition: all 0.3s ease-in;
    }

    &.open {
      :nth-child(2) {
        transform: scale(0);
      }

      span:first-child {
        transform: translateY(8px) rotate(135deg);
      }

      span:last-child {
        transform: translateY(-8px) rotate(-135deg);
      }
    }
  }
}
.hero {
  &__body {
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;

    @include desktop {
      padding-top: 80px;
      padding-bottom: 40px;
    }

    @include tablet {
      padding-top: 60px;
    }

    @include mobile {
      padding-bottom: 30px;
      padding-top: 30px;
    }

    @include mobile-s {
      padding-bottom: 0;
    }
  }

  &__title {
    @extend %title-second;
    margin-bottom: 36px;
    color: $grayscale-black;

    @include tablet {
      font-size: clamp(40px, 6vw, 56px);
    }
  }

  &__text {
    @extend %text-regular;
    color: $grayscale-black;
    max-width: 518px;
    margin: 0 auto 57px;

    @include tablet {
      font-size: clamp(12px, 2vw, 18px);
      margin-bottom: 50px;
    }

    @include mobile {
      margin-bottom: 25px;
    }

    @include mobile-s {
      margin-bottom: 15px;
    }
  }
}

.designer {
  &__body {
    padding-block: 50px;

    @include tablet {
      padding-block: 30px;
    }

    @include mobile {
      padding-bottom: 20px;
    }
  }

  &__title {
    display: flex;
    gap: 26px;
    align-items: center;
    margin-bottom: 20px;
    &-text {
      @extend %mini;
    }

    & span {
      content: "";
      background: $grayscale-black;
      height: 2px;
      width: 507px;

      @include tablet {
        width: 100%;
      }
    }
  }

  &__info {
    @extend %title-third;
    max-width: 738px;
    margin-bottom: 24px;

    @include tablet {
      font-size: clamp(18px, 4vw, 36px);
    }
  }

  &__text {
    margin-bottom: 80px;
    max-width: 471px;
    color: $grayscale10;
    @extend %text-regular;

    @include tablet {
      font-size: clamp(12px, 2vw, 18px);
      margin-bottom: 40px;
    }

    @include mobile {
      margin-bottom: 20px;
    }
  }

  &__list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
    position: relative;
    max-height: 379px;
    max-width: 282px;
    overflow: hidden;
    background-color: $primary100;
  }

  &__person {
    position: absolute;
    left: 12px;
    bottom: 12px;
    padding: 18px 58px 18px 16px;
    background-color: $grayscale-white;
    max-width: 258px;

    &-name {
      @extend %semibold24;
      color: $grayscale50;
    }

    &-title {
      font-size: 16px;
      line-height: 160%;
      color: $grayscale10;
    }
  }
}

.service {
  &__body {
    padding-block: 50px;

    @include tablet {
      padding-bottom: 30px;
    }

    @include mobile {
      padding-bottom: 20px;
    }
  }

  &__title {
    display: flex;
    gap: 26px;
    align-items: center;
    margin-bottom: 20px;

    @include tablet {
      font-size: clamp(18px, 4vw, 36px);
    }
    &-text {
      @extend %mini;
    }

    & span {
      content: "";
      background: $grayscale-black;
      height: 2px;
      width: 464px;

      @include tablet {
        width: 100%;
      }
    }
  }

  &__info {
    @extend %title-third;
    max-width: 738px;
    margin-bottom: 25px;
  }

  &__text {
    margin-bottom: 40px;
    max-width: 471px;
    color: $grayscale10;
    @extend %text-regular;

    @include tablet {
      font-size: clamp(12px, 2vw, 18px);
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    gap: 18px;

    @include tablet {
      flex-wrap: wrap;
    }
  }

  &__item {
    padding: 20px 27px 22px 27px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 4px 2px rgba(53, 53, 53, 0.1);

    &-circle {
      display: block;
      content: "";
      width: 63px;
      height: 63px;
      background: $grayscale-lightgray;
      margin-bottom: 20px;
      border-radius: 50%;
    }

    &-title {
      margin-bottom: 20px;
      color: $grayscale50;
      font-weight: 600;
      font-size: 24px;
      line-height: 140%;

      @include tablet {
        font-size: clamp(12px, 3vw, 24px);
      }
    }

    &-text {
      @extend %text-regular;
      color: $grayscale10;

      @include tablet {
        font-size: clamp(12px, 2vw, 18px);
      }
    }
  }
}

.footer {
  &:first-child {
    background-color: $primary10;
  }

  &__background {
    margin-top: 60px;
    background-color: $primary100;

    @include tablet {
      margin-top: 40px;
    }

    @include mobile {
      margin-top: 30px;
    }

    @include mobile-s {
      margin-top: 0;
    }
  }

  &__first {
    padding-block: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 155px;

    @include tablet {
      gap: 40px;
      flex-direction: column;
      text-align: center;
    }

    &-title {
      @extend %title-third;
      color: $grayscale-white;
      max-width: 613px;

      @include tablet {
        font-size: clamp(18px, 4vw, 36px);
      }
    }
  }

  &__contact {
    &-text {
      @extend %text-regular;
      color: $grayscale-lightgray;

      @include tablet {
        font-size: clamp(12px, 2vw, 18px);
      }
    }
  }

  &__button {
    margin-top: 20px;
    color: $grayscale50;
    background-color: $grayscale-white;
    transition: all 0.3s ease;

    &:hover {
      color: $grayscale-white;
      background-color: $grayscale-black;
    }
  }

  &__second {
    padding-top: 80px;
    margin-bottom: 80px;
    display: flex;
    gap: 279px;
    align-items: center;

    @include tablet {
      padding-top: 40px;
      margin-bottom: 40px;
      justify-content: space-around;
      gap: 20px;
    }

    @include mobile {
      padding-top: 30px;
      margin-bottom: 30px;
      flex-direction: column;
    }

    @include mobile-s {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    &-title {
      margin-top: 10px;
      @extend %title-third;
      color: $grayscale50;
      max-width: 481px;

      @include tablet {
        font-size: clamp(18px, 4vw, 36px);
      }
    }
  }

  &__logo-inner {
    @include mobile {
      text-align: center;
    }
  }

  &__label {
    position: relative;
    @extend %text-regular;
    color: $grayscale50;
    cursor: context-menu;
    margin-left: 24px;
    margin-bottom: 20px;

    @include tablet {
      font-size: clamp(12px, 2vw, 18px);
    }

    &::before {
      transform: translateY(-50%);
      top: 50%;
      left: -24px;
      position: absolute;
      content: "";
      width: 14px;
      height: 14px;
      background-color: $grayscale50;
      border-radius: 50%;

      @include mobile {
        width: 10px;
        height: 10px;
      }

      // @include mobile-s {
      //   width: 6px;
      //   height: 6px;
      // }
    }
  }

  &__input {
    font-weight: 500;
    line-height: 160%;
    font-size: 20px;
    margin-bottom: 40px;
    height: $input-height;
    width: 440px;
    border-bottom: 2px solid $grayscale70;

    @include mobile-s {
      width: 100%;
    }

    &::placeholder {
      font-size: 16px;
      line-height: 160px;
      color: $grayscale-lightgray;
    }
  }

  &__form {
    max-width: 440px;

    @include mobile-s {
      max-width: 100%;
      overflow: hidden;
    }
  }

  &__media {
    @include mobile {
      text-align: center;
      margin: 0 auto;
    }

    &-text {
      margin-bottom: 15px;
      @extend %text-regular;
      color: $grayscale50;
    }

    &-row {
      display: flex;
      gap: 37px;
    }

    &-wrapper {
      display: flex;
      justify-content: flex-end;
    }
  }
  &__svg-wrapper {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: $grayscale-lightgray;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
}
