.hero__title {
  font-weight: 700;
  font-size: 56px;
  line-height: 140%;
}

.footer__second-title,
.footer__first-title,
.product__info {
  font-weight: 600;
  font-size: 36px;
  line-height: 140%;
}

.product__link,
.achievment__item-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
}

.footer__media-text,
.footer__label,
.footer__contact-text,
.product__theme-text,
.product__text,
.achievment__item-text,
.hero__text,
.header__nav-link {
  font-size: 18px;
  line-height: 160%;
}

.achievment__title-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}

* {
  font-family: "Poppins", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1230px;
  width: 100%;
  padding-inline: 15px;
}

.button {
  height: 49px;
  padding-inline: 32px;
  font-size: 14px;
  line-height: 150%;
  font-weight: 500;
}

.header__inner {
  padding-block: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav-list {
  display: flex;
  align-items: center;
  gap: 72px;
}

.header__nav-link {
  color: #333333;
  transition: color 0.3s ease;
}

.header__nav-link:hover:not(:last-child) {
  color: #2c3878;
}

.header__nav-link--active {
  font-weight: 600;
}

.header__nav-contact {
  color: #ffffff;
}

.header__nav-item:last-child {
  background-color: #2c3878;
  padding-inline: 32px;
  height: 49px;
  display: flex;
  align-items: center;
}

.header__nav.open {
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #eaebf2;
}

.header__nav.open .header__nav-list {
  text-align: center;
  flex-direction: column;
  gap: 20px;
}

.header__burger {
  z-index: 200;
  position: relative;
  width: 40px;
}

.header__burger span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #2c3878;
  border-radius: 5px;
  margin: 6px 0;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.header__burger.open :nth-child(2) {
  transform: scale(0);
}

.header__burger.open span:first-child {
  transform: translateY(8px) rotate(135deg);
}

.header__burger.open span:last-child {
  transform: translateY(-8px) rotate(-135deg);
}

.hero__body {
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
}

.hero__title {
  margin-bottom: 36px;
  color: #000000;
}

.hero__text {
  color: #000000;
  max-width: 518px;
  margin: 0 auto 57px;
}

.achievment__body {
  padding-block: 50px;
}

.achievment__title {
  display: flex;
  gap: 26px;
  align-items: center;
  margin-bottom: 40px;
}

.achievment__title-line {
  content: "";
  background: #000000;
  height: 2px;
  width: 464px;
}

.achievment__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.achievment__item {
  display: flex;
  gap: 120px;
  align-items: center;
}

.achievment__item-title {
  margin-bottom: 20px;
}

.achievment__item-text {
  color: #9c9c9c;
}

.product__body {
  padding-bottom: 80px;
}

.product__title {
  color: #333333;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 19px;
}

.product__title-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.product__title span {
  content: "";
  background: #000000;
  height: 2px;
  width: 504px;
}

.product__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 73px;
  gap: 30px;
}

.product__info {
  margin-bottom: 24px;
  color: #333333;
}

.product__text {
  color: #9c9c9c;
  max-width: 471px;
}

.product__list {
  display: flex;
  flex-direction: column;
  gap: 43px;
}

.product__link {
  color: #333333;
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-right: 40px;
  transition: color 0.3s ease;
}

.product__link:hover {
  color: #2c3878;
}

.product__link .product__link-span {
  display: flex;
  gap: 80px;
}

.product__link .product__link-span--wide {
  gap: 87px;
}

.product__theme {
  margin-bottom: 24px;
}

.product__theme-text {
  font-weight: 400;
}

.footer:first-child {
  background-color: #eaebf2;
}

.footer__background {
  margin-top: 60px;
  background-color: #2c3878;
}

.footer__first {
  padding-block: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 155px;
}

.footer__first-title {
  color: #ffffff;
  max-width: 613px;
}

.footer__contact-text {
  color: #d9d9d9;
}

.footer__button {
  margin-top: 20px;
  color: #333333;
  background-color: #ffffff;
  transition: all 0.3s ease;
}

.footer__button:hover {
  color: #ffffff;
  background-color: #000000;
}

.footer__second {
  padding-top: 80px;
  margin-bottom: 80px;
  display: flex;
  gap: 279px;
  align-items: center;
}

.footer__second-title {
  margin-top: 10px;
  color: #333333;
  max-width: 481px;
}

.footer__label {
  position: relative;
  color: #333333;
  cursor: context-menu;
  margin-left: 24px;
  margin-bottom: 20px;
}

.footer__label::before {
  transform: translateY(-50%);
  top: 50%;
  left: -24px;
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  background-color: #333333;
  border-radius: 50%;
}

.footer__input {
  font-weight: 500;
  line-height: 160%;
  font-size: 20px;
  margin-bottom: 40px;
  height: 62px;
  width: 440px;
  border-bottom: 2px solid #141414;
}

.footer__input::-moz-placeholder {
  font-size: 16px;
  line-height: 160px;
  color: #d9d9d9;
}

.footer__input::placeholder {
  font-size: 16px;
  line-height: 160px;
  color: #d9d9d9;
}

.footer__form {
  max-width: 440px;
}

.footer__media-text {
  margin-bottom: 15px;
  color: #333333;
}

.footer__media-row {
  display: flex;
  gap: 37px;
}

.footer__media-wrapper {
  display: flex;
  justify-content: flex-end;
}

.footer__svg-wrapper {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

@media (min-width: 1053px) {
  .header__burger {
    display: none;
  }
}

@media (max-width: 1280px) {
  .hero__body {
    padding-top: 80px;
    padding-bottom: 40px;
  }

  .achievment__item {
    gap: 60px;
  }
}

@media (max-width: 1052px) {
  .header__inner {
    padding-block: 30px;
  }

  .header__nav {
    display: none;
  }

  .hero__body {
    padding-top: 60px;
  }

  .hero__title {
    font-size: clamp(40px, 6vw, 56px);
  }

  .hero__text {
    font-size: clamp(12px, 2vw, 18px);
    margin-bottom: 50px;
  }

  .achievment__body {
    padding-block: 30px;
  }

  .achievment__title-line {
    width: 100%;
  }

  .achievment__list {
    position: relative;
    gap: 30px;
  }

  .achievment__item-info {
    border-radius: 20px;
    width: 30%;
    padding: 20px 20px;
    position: absolute;
    right: 2%;
    background-color: rgba(51, 51, 51, 0.7);
  }

  .achievment__item-image {
    width: 100%;
  }

  .achievment__item-title {
    font-size: clamp(12px, 3vw, 24px);
    color: #eaebf2;
  }

  .achievment__item-text {
    font-size: clamp(12px, 2vw, 18px);
  }

  .product__body {
    padding-bottom: 40px;
  }

  .product__title span {
    width: 100%;
  }

  .product__info {
    font-size: clamp(18px, 4vw, 36px);
  }

  .product__text {
    font-size: clamp(12px, 2vw, 18px);
  }

  .product__link {
    font-size: clamp(12px, 3vw, 24px);
  }

  .product__theme-text {
    font-size: clamp(12px, 2vw, 18px);
  }

  .footer__background {
    margin-top: 40px;
  }

  .footer__first {
    gap: 40px;
    flex-direction: column;
    text-align: center;
  }

  .footer__first-title {
    font-size: clamp(18px, 4vw, 36px);
  }

  .footer__contact-text {
    font-size: clamp(12px, 2vw, 18px);
  }

  .footer__second {
    padding-top: 40px;
    margin-bottom: 40px;
    justify-content: space-around;
    gap: 20px;
  }

  .footer__second-title {
    font-size: clamp(18px, 4vw, 36px);
  }

  .footer__label {
    font-size: clamp(12px, 2vw, 18px);
  }
}

@media (max-width: 767px) {
  .header__inner {
    padding-block: 15px;
  }

  .hero__body {
    padding-bottom: 30px;
    padding-top: 30px;
  }

  .hero__text {
    margin-bottom: 25px;
  }

  .achievment__body {
    padding-bottom: 20px;
  }

  .achievment__list {
    gap: 20px;
  }

  .achievment__item-info {
    width: 40%;
    margin-top: 75px;
    padding: 12px;
    box-shadow: 0px 0px 0px 7px rgba(2, 2, 6, 0.2);
  }

  .achievment__item-image {
    border-radius: 20px;
  }

  .product__body {
    padding-bottom: 30px;
  }

  .product__top {
    flex-direction: column;
    margin-bottom: 30px;
    gap: 0;
  }

  .product__link {
    margin-right: 0;
  }

  .footer__background {
    margin-top: 30px;
  }

  .footer__second {
    padding-top: 30px;
    margin-bottom: 30px;
    flex-direction: column;
  }

  .footer__logo-inner {
    text-align: center;
  }

  .footer__label::before {
    width: 10px;
    height: 10px;
  }

  .footer__media {
    text-align: center;
    margin: 0 auto;
  }
}

@media (max-width: 530px) {
  .header__inner {
    padding-block: 5px;
  }

  .hero__body {
    padding-bottom: 0;
  }

  .hero__text {
    margin-bottom: 15px;
  }

  .achievment__item-info {
    box-shadow: none;
    margin-top: 0;
    width: 50%;
  }

  .footer__background {
    margin-top: 0;
  }

  .footer__second {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .footer__input {
    width: 100%;
  }

  .footer__form {
    max-width: 100%;
    overflow: hidden;
  }
}